/* General Styles */
.select-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 0.5rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.select-container.hidden {
    visibility: hidden;
    opacity: 0;
}

.select-button {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.25rem;

    transition: background-color 0.1s;
}

.select-button.selected {
    background-color: #aaa;
}


/* Week Select Styles */
#week-select {
    transition: opacity 0.2s;
}


/* Image Display Styles */
#img-display-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 1rem;
}

#img-display img {
    width: 0;
    visibility: hidden;
}

#img-display img.show {
    width: 100%;
    visibility: visible;
}

.img-scroll-button {
    width: 2rem;
    /* background-color: rgba(0, 0, 0, .2); */
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

.img-scroll-button.hidden {
    visibility: hidden;
}